<div class="container">
  <div class="row">
    <header>
      <h1>Professional Geek</h1>
      <p>Welcome to my website made with Sinatra</p>
    </header>
  </div>
  <div class="row">
    <div class="col-md-8">
      <% for post in posts %>
        <div class="post">
          <h2><%= post['title'] %></h2>
          <p>Posted <%= post['date'] %> <a href="/edit/<%= post['url'] %>">Edit</a></p>
          <p><%= markdown(post['text']) %></p>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <nav>
        <a href="/new">Add new post</a>
      </nav>
    </div>
  </div>
</div>
