<html>
  <head>
    <title>Professional Geek Coding Blog</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
          if ($('#date').val() == "") {
            $('#date').val(new Date().toString());
          }
          
          $('#title').on('input', function() {
            if ($('#url').val() == "") {
              var url = $('#title').val().toLowerCase();
              url = url.replace("'", "");
              var regex = /[a-z|0-9]+/gi;
              var matches = url.match(regex);
              url = "";
              for (i=0; i<matches.length; i++) {
                 url = url + matches[i] + "-";
              }
              url = url.replace("--", "-");
              url = url.replace(/-$/, "");
              $('#url').val(url);
            }
          } );
          
          $('#text').on('input', function() {
            //send an ajax request to our action
            $.ajax({
              type: "POST",
              url: "/preview",
              //serialize the form and use it as data for our ajax request
              data: { text: $('#text').val() },
              //the type of data we are expecting back from server, could be json too
              dataType: "html",
              success: function(data) {
                //if our ajax request is successful, replace the content of our preview div with the response data
                $('#preview').html(data);
              }
            });
          });
        });
    </script>
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1>Add new post</h1>
      </div>
      <p id="x"></p>
      <form action="" method="post">
        <div>
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" value="<%= post['title'] if defined?(post) %>">
        </div>
        <div>
          <label for="Url">Url:</label>
          <input type="text" name="url" id="url" value="<%= post['url'] if defined?(post) %>">
        </div>
        <div>
          <label for="date">Date:</label>
          <input type="text" name="date" id="date" value="<%= post['date'] if defined?(post) %>">
        </div>
        <div>
          <label for="text">Content:</label>
          <textarea name="text" id="text"><%= post['text'] if defined?(post) %></textarea>
        </div>
        <div>
          <button type="submit">Post</button>
        </div>
      </form>
      <br>
      <p id="preview">Test</p>
    </div>
  </body>
</html>
